TridionDocsTopicLink/Helper/Service Reference/DocumentObj20ServiceReference/DocumentObj52.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://sdl.com/trisoft/2012/06/WebServices/Services/API20/" elementFormDefault="qualified" targetNamespace="http://sdl.com/trisoft/2012/06/WebServices/Services/API20/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://mecpshp01.global.sdl.corp/InfoShareWS/Wcf/API20/DocumentObj.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://mecpshp01.global.sdl.corp/InfoShareWS/Wcf/API20/DocumentObj.svc?xsd=xsd4" namespace="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" />
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Update">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toFolderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddShortCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveShortCut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromFolderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RemoveShortCutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckIn">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckInResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UndoCheckOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentState" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Move">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fromFolderId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="toFolderId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MoveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTranslationMgmt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartTranslationMgmtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="eventId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocObj">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProductDefinition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocObjResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTransitionStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statusList" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPossibleTransitionStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statusList" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievebyIshLngRef">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="lngRefs" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProductDefinition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeData" type="xs:boolean" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrievebyIshLngRefResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="xmlInDocument" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProductDefinition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="validateConditions" type="xs:boolean" />
        <xs:element minOccurs="0" name="outDocument" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EvaluateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" type="xs:int" />
        <xs:element minOccurs="0" name="outDocument" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Create">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="ishType" type="q3:ISHType" />
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="ishType" type="q4:ISHType" />
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="initialStatus" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequiredCurrentState" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="edt" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrUpdateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="version" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitialStates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="ishType" type="q5:ISHType" />
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statusList" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInitialStatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="statusList" nillable="true" type="q7:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Find">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ishTypeFilter" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="statusFilter" type="q8:ISHStatusgroup" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveObjects">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="statusFilter" type="q9:ISHStatusgroup" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlProductDefinition" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveObjectsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetaData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element xmlns:q10="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="statusFilter" type="q10:ISHStatusgroup" />
        <xs:element minOccurs="0" name="xmlMetadataFilter" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlRequestedMetadata" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveMetaDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLatestVersionsInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="logicalId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="language" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="resolution" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://sdl.com/trisoft/2012/06/WebServices/Contracts/Enumerations/API20/" minOccurs="0" name="statusFilter" type="q11:ISHStatusgroup" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RetrieveLatestVersionsInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="returnValue" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="xmlObjectList" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>